#footer .block-menu {
  margin-bottom: 3rem;
}
#footer .block-menu ul.menu li a {
  display: block;
  padding: 0.8rem 0 0.8rem 0;
  text-decoration: none;
  color: #fff;
}
#footer .block-menu ul.menu li a:hover {
  color: #4c9abc;
}
@media (max-width: 63.9rem) {
  #footer .block-menu ul {
    text-align: center;
  }
}
@media (min-width: 64rem) {
  #footer .block-menu {
    margin-bottom: 0;
  }
  #footer .block-menu ul.menu li a {
    padding: 0 0 1.6rem 0;
  }
}
