#footer .block-system-branding-block {
  float: none;
  height: auto;
  margin-bottom: 3rem;
}
#footer .block-system-branding-block a.logo {
  display: block;
  width: 16rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
#footer .block-system-branding-block a.logo .image {
  display: block;
  padding-right: 1rem;
  vertical-align: top;
}
#footer .block-system-branding-block a.logo .image img {
  width: 18rem;
  height: auto;
}
#footer .block-system-branding-block a.logo .title {
  display: block;
  vertical-align: top;
}
#footer .block-system-branding-block a.logo .title .site-name {
  display: block;
  color: #fff;
  font-size: 2.6rem;
}
#footer .block-system-branding-block a.logo .title .site-slogan {
  display: block;
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 64rem) {
  #footer .block-system-branding-block {
    margin-bottom: 0;
  }
  #footer .block-system-branding-block a.logo {
    margin: 0;
  }
}
