@charset "UTF-8";
blockquote {
  margin: 0 0 1.6rem 0;
}

blockquote p {
  margin: 0;
  padding: 1.5rem;
  background: #eeeeee;
}

blockquote p:before {
  margin-right: 0.1em;
  content: "“";
  vertical-align: -0.4em;
  color: #dddddd;
  font-family: georgia, times, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

blockquote p:after {
  margin-left: 0.1em;
  content: "”";
  vertical-align: -0.55em;
  color: #dddddd;
  font-family: georgia, times, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}
