.sidebar {
  margin: 0 0 4rem 0;
  color: #353535;
  background: transparent;
}
.sidebar .block {
  margin-bottom: 6rem;
}
.sidebar .block:last-child {
  margin-bottom: 0;
}
.sidebar .block > h2 {
  margin: 0 0 1.6rem 0;
  padding: 1rem 1.5rem 1.8rem 1.5rem;
  text-transform: uppercase;
  color: #454545;
  border-bottom: 0.2rem solid #454545;
  font-size: 1.6rem;
  font-weight: bold;
}
